
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .copyright-and-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .copyright {
    margin-bottom: 10px;
  }
  
 
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .copyright {
      margin-bottom: 15px;
    }
  }